@import "../../style/variables";

.header {
  margin-top: 1em;
}

.input {
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em 0.5em;
  width: 15em;

  border: none;
  border-radius: 0.3em;
  box-shadow: $box-shadow;

  font-family: $body-font;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.input:focus {
  outline: none;
  text-transform: lowercase;
}

@media (max-width: 730px) {
  .input {
    width: 12em;
  }
}

@media (max-width: 570px) {
  .header {
    font-size: 0.9em;
    padding: 0.3em;
  }

  .input {
    font-size: 0.5em;
    width: 10em;
  }
}

@media (max-width: 360px) {
  .header {
    padding: 0.3em;
    font-size: 0.7em;
    margin-top: 1.2em;
  }

  .input {
    font-size: 0.5em;
    width: 10em;
  }
}
