@import "../../style/variables";

.list {
  margin-top: 2em;

  font-family: $handwritting-font;
  font-size: 0.7em;
  font-weight: 200;
  line-height: 2em;
  text-align: start;
}

@media (max-width: 730px) {
  .item {
    font-size: 1em;
  }
}

@media (max-width: 570px) {
  .item {
    font-size: 0.9em;
  }
}

@media (max-width: 360px) {
  .item {
    font-size: 0.8em;
  }
}
