.list-item {
  font-family: "Rock Salt", cursive;
  font-size: 0.8em;
}

@media (max-width: 730px) {
  .list-item {
    font-size: 0.6em;
  }
}

@media (max-width: 570px) {
  .list-item {
    font-size: 0.5em;
  }
}
