@import "../../style/variables";

.list {
  margin-top: 2em;

  font-family: $handwritting-font;
  font-size: 0.7em;
  font-weight: 200;
  line-height: 2em;
  text-align: start;
}

@media (max-width: 730px) {
  .list-item {
    font-size: 0.6em;
  }
}

@media (max-width: 570px) {
  .list-item {
    font-size: 0.5em;
  }
}
