/* header */
@import url(https://fonts.googleapis.com/css2?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css2?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Pen+Script);

/* list */
@import url(https://fonts.googleapis.com/css2?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css2?family=Cedarville+Cursive);

/* 
font-family: 'Rock Salt', cursive;
font-family: 'Nanum Pen Script', cursive;
*/

@import "./style/variables.scss";
@import "./style/reset.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  background: url(../assets/papir.png);
  font-family: $handwritting-font;
}
