/* .modal-container {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 3em;
  letter-spacing: 0.1em;
  overflow-wrap: normal;
  transform: translateY(2em);
  margin: 0 5em;
  line-height: 1.6em;
  background-color: #63b8d64a;
  border-radius: 0.3em;
  padding: 0.5em 1em 1.5em 1em;
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 10em;
  width: 100%;
  height: 100vh;
  z-index: 10;
  /* background: rgba(102, 255, 209, 0.289); */
}

.modalContainer {
  position: static;

  /* margin: 2em 5em 4em 5em; */
  padding: 0.7em 1em 1.5em 1em;
  height: 12em;
  width: 12em;

  background-color: #63b7d682;
  border-radius: 0.3em;

  font-family: "Nanum Pen Script", cursive;
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  text-align: center;
  overflow-wrap: normal;
}
