@import "../../style/mixins";
@import "../../style/variables";

.backdrop {
  position: fixed;
  top: 0;
  left: 10em;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 15em;
  left: 15em;
  bottom: 2.3em;
}

.modal {
  position: static;

  transform: translateY(-3.3em);
  font-size: 0.6em;
  padding: 2em 0.5em;
  width: 20em;
  height: 10em;

  background-color: #63b7d682;

  @include cardShadow;

  font-family: $body-font;

  letter-spacing: 0.1em;
  line-height: 1.6em;
  text-align: center;
  overflow-wrap: normal;
}

@media (max-width: 1301px) {
  .container {
    position: fixed;
    flex-flow: column-reverse;
    justify-content: right;
    align-items: center;
    top: 13em;
  }

  .modal {
    font-size: 0.6em;
    padding: 2.5em 1em 0 1em;
  }

  .backdrop {
    left: 0;
  }
}

@media (max-width: 950px) {
  .container {
    display: flex;
    left: 8em;
    right: 8em;
  }

  .modal {
    transform: translateX(0.625em, -2em);
    padding: 2.5em 1em;
    margin: 0 auto;
    height: 12em;
  }
}

@media (max-width: 880px) {
  .container {
    @include containerSetting;
    display: flex;
  }

  .backdrop {
    left: 0;
  }
}

@media (max-width: 716px) {
  .container {
    @include containerSetting;
  }

  .modal {
    transform: translateY(-1.6em);
    width: 16em;
    height: 11em;
    font-size: 0.6em;
    padding-bottom: 1em;
  }
}

@media (max-width: 560px) {
  .container {
    @include containerSetting;
  }
  .modal {
    transform: translateY(-4.5em);
    height: 13em;
    width: 13em;
    font-size: 0.6em;
    padding-bottom: 1.5em;
  }
}

@media (max-width: 360px) {
  .container {
    top: 16em;
  }

  .modal {
    transform: translateY(-11em);
    width: 11em;
    height: 14em;
  }
}
