/* .modal-container {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 3em;
  letter-spacing: 0.1em;
  overflow-wrap: normal;
  transform: translateY(2em);
  margin: 0 5em;
  line-height: 1.6em;
  background-color: #63b8d64a;
  border-radius: 0.3em;
  padding: 0.5em 1em 1.5em 1em;
} */

.modal-container {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 3em;
  letter-spacing: 0.1em;
  overflow-wrap: normal;
  transform: translateY(2em);
  /* background-color: #37353588; */
  margin: 0 5em;
  line-height: 1.6em;
  background-color: #63b8d64a;
  border-radius: 0.3em;
  padding: 3em 1em 1.5em 1em;
  margin: 2em 5em 4em 5em;
  width: 18em;
  height: 16em;
}
